.DS_Store
DerivedData/
Build/
*.xcuserdatad/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.o
*.d
*.dia
*.swiftdeps
*.swiftconstvalues
*.xcbuilddata
*.zip
.vscode/
.build/
.swiftpm/
Package.resolved
